################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/ReactJs.API/bin/Debug/net8.0
/.vs/ReactJs/FileContentIndex
/.vs/slnx.sqlite
/Backend/ReactJs.API/obj
/Backend/ReactJs.Core/bin/Debug/net8.0
/Backend/ReactJs.Core/obj
/Backend/ReactJs.Infrastructure/bin/Debug/net8.0
/Backend/ReactJs.Infrastructure/Migrations
/Backend/ReactJs.Infrastructure/obj
Backend/.vs/ReactJsApi/config/applicationhost.config
/Frontend/.vs
/Frontend/.vs/Frontend/FileContentIndex
/Frontend/.vs/Frontend/FileContentIndex/d7342570-9b0b-4413-8d5a-100a9406eeb2.vsidx
/Frontend/.vs/slnx.sqlite
/Backend/.vs/ReactJsApi
node_modules
/Backend/.vs/ReactJsApi/v17/DocumentLayout.json
/.vs/taskmanager-client/FileContentIndex/4fbfdc25-0605-4a8d-aee9-9bbabd58b5d9.vsidx
/.vs/taskmanager-client/FileContentIndex
