################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/ReactJs.API/bin/Debug/net8.0
/.vs/ReactJs/FileContentIndex
/.vs/slnx.sqlite
/Backend/ReactJs.API/obj
/Backend/ReactJs.Core/bin/Debug/net8.0
/Backend/ReactJs.Core/obj
/Backend/ReactJs.Infrastructure/bin/Debug/net8.0
/Backend/ReactJs.Infrastructure/Migrations
/Backend/ReactJs.Infrastructure/obj
